/* Landing page styles */
.landingContainer {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.landingText {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.startButton {
    padding: 10px 20px;
    background-color: #ff4b82;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.startButton:hover {
    background-color: #ff306d;
}

/* Slideshow styles */
.container {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.bookContainer {
    perspective: 1000px;
    cursor: pointer;
    margin-bottom: 40px;/* increased for space */
    position: relative;/* Important for positioning indicator */
}

.book {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.book.flip {
    transform: rotateY(-180deg);
}

.book img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    background-color: #000;
    backface-visibility: hidden;
}

.text {
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.text h2 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}

.text p {
    font-size: 1rem;
    opacity: 0.7;
}

/* Click indicator styles */
.clickIndicator {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #fff;
    animation: floatUpDown 1.5s infinite;
    opacity: 0.8;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, -15px);
    }
}